In [1]:
#ASSIGNMENT 2

In [2]:
#1. Load library & dataset
import pandas as pd

In [3]:
data_price_demand = pd.read_csv('price_and_demand.csv', header=None)
data_weather = pd.read_csv('weather.csv', encoding= 'unicode_escape')

In [4]:
#1. DATA CLEANING

In [5]:
#1.1 data_price_demand

In [6]:
display(data_price_demand.head())

      0               1         2     3      4
0  VIC1  1/11/2022 0:30  4,178.18  8.94  TRADE
1  VIC1  1/11/2022 1:00  4,086.02  0.14  TRADE
2  VIC1  1/11/2022 1:30  4,033.37  0.02  TRADE
3  VIC1  1/11/2022 2:00  3,985.64  0.00  TRADE
4  VIC1  1/11/2022 2:30  3,885.64  0.02  TRADE

In [7]:
print(data_price_demand.dtypes)

0     object
1     object
2     object
3    float64
4     object
dtype: object

In [8]:
#Add header name to the dataframe:
header_names = ['State', 'Date_Time', 'Demand', 'Price', 'Type']
data_price_demand.columns = header_names

In [9]:
# Convert the date column to a datetime data type
data_price_demand['Date_Time'] = pd.to_datetime(data_price_demand['Date_Time'], format='%d/%m/%Y %H:%M')

In [10]:
# Convert the Demand collumn into float
data_price_demand['Demand'] = data_price_demand['Demand'].str.replace(',', '').astype(float)

In [11]:
#Re-examine datatype:
print(data_price_demand.dtypes)

State                object
Date_Time    datetime64[ns]
Demand              float64
Price               float64
Type                 object
dtype: object

In [12]:
# Missing value
print(data_price_demand.isnull().sum())

State        0
Date_Time    0
Demand       0
Price        0
Type         0
dtype: int64

In [13]:
# Unique values in each columns:
for column in data_price_demand.columns:
    unique_values = data_price_demand[column].unique()
    print(f"'{column}': {unique_values}")

'State': ['VIC1']
'Date_Time': ['2022-11-01T00:30:00.000000000' '2022-11-01T01:00:00.000000000'
 '2022-11-01T01:30:00.000000000' ... '2023-04-23T23:00:00.000000000'
 '2023-04-23T23:30:00.000000000' '2023-04-24T00:00:00.000000000']
'Demand': [4178.18 4086.02 4033.37 ... 4472.49 4621.36 4395.96]
'Price': [8.940e+00 1.400e-01 2.000e-02 ... 8.125e+01 9.397e+01 8.396e+01]
'Type': ['TRADE']

In [14]:
#All states are VICTORIA in TRADE type.
#Calculate total demand for each day:
data_price_demand['Date'] = data_price_demand['Date_Time'].dt.date # Extract only the date from the datetime

In [15]:
print(data_price_demand['Date'])

0       2022-11-01
1       2022-11-01
2       2022-11-01
3       2022-11-01
4       2022-11-01
           ...
8347    2023-04-23
8348    2023-04-23
8349    2023-04-23
8350    2023-04-23
8351    2023-04-24
Name: Date, Length: 8352, dtype: object

In [16]:
sum_of_demand = data_price_demand.groupby('Date')['Demand'].sum().round(2)

In [17]:
print(sum_of_demand)

Date
2022-11-01    207429.46
2022-11-02    233630.93
2022-11-03    235672.34
2022-11-04    224895.28
2022-11-05    189190.35
                ...
2023-04-20    227925.10
2023-04-21    232043.13
2023-04-22    207431.82
2023-04-23    195560.35
2023-04-24      4395.96
Name: Demand, Length: 175, dtype: float64

In [18]:
daily_demand_df = sum_of_demand.reset_index()

In [19]:
#Create a new dataframe with date and sum of demand:
print(daily_demand_df)

           Date     Demand
0    2022-11-01  207429.46
1    2022-11-02  233630.93
2    2022-11-03  235672.34
3    2022-11-04  224895.28
4    2022-11-05  189190.35
..          ...        ...
170  2023-04-20  227925.10
171  2023-04-21  232043.13
172  2023-04-22  207431.82
173  2023-04-23  195560.35
174  2023-04-24    4395.96

[175 rows x 2 columns]

In [20]:
print(daily_demand_df.dtypes)

Date       object
Demand    float64
dtype: object

In [21]:
#Convert Date to datetime
daily_demand_df['Date'] = pd.to_datetime(daily_demand_df['Date'])

In [22]:
print(daily_demand_df.dtypes)

Date      datetime64[ns]
Demand           float64
dtype: object

In [23]:
daily_demand_df.to_csv("daily_demand_df.csv", index=False)

In [24]:
#Daily total usage == maximum daily total usage in this assignment

In [25]:
print(data_weather)

                               Location        Date  Minimum temperature (°C)  \
0    Melbourne (Olympic Park), Victoria   1/11/2022                       8.5
1    Melbourne (Olympic Park), Victoria   2/11/2022                       6.9
2    Melbourne (Olympic Park), Victoria   3/11/2022                       9.1
3    Melbourne (Olympic Park), Victoria   4/11/2022                      10.2
4    Melbourne (Olympic Park), Victoria   5/11/2022                      11.8
..                                  ...         ...                       ...
170  Melbourne (Olympic Park), Victoria  20/04/2023                       7.8
171  Melbourne (Olympic Park), Victoria  21/04/2023                      11.3
172  Melbourne (Olympic Park), Victoria  22/04/2023                      14.6
173  Melbourne (Olympic Park), Victoria  23/04/2023                      14.8
174  Melbourne (Olympic Park), Victoria  24/04/2023                      11.0

     Maximum temperature (°C)  Rainfall (mm)  Evaporation (mm)  \
0                        13.3            3.0               NaN
1                        15.7            2.8               NaN
2                        15.4            0.4               NaN
3                        17.8            0.2               NaN
4                        22.7            0.0               NaN
..                        ...            ...               ...
170                      18.5            0.0               NaN
171                      19.0            0.0               NaN
172                      19.2            0.0               NaN
173                      19.0            0.0               NaN
174                       NaN            0.0               NaN

     Sunshine (hours) Direction of maximum wind gust   \
0                 NaN                              SW
1                 NaN                             SSW
2                 NaN                             SSW
3                 NaN                               S
4                 NaN                               N
..                ...                             ...
170               NaN                             SSW
171               NaN                             SSW
172               NaN                             SSW
173               NaN                             SSW
174               NaN                             NaN

     Speed of maximum wind gust (km/h) Time of maximum wind gust  ...  \
0                                 44.0                     11:36  ...
1                                 43.0                     11:33  ...
2                                 31.0                      8:07  ...
3                                 24.0                     14:50  ...
4                                 31.0                     11:58  ...
..                                 ...                       ...  ...
170                               17.0                     12:47  ...
171                               13.0                     10:48  ...
172                               22.0                     16:09  ...
173                               26.0                     15:45  ...
174                                NaN                       NaN  ...

     9am cloud amount (oktas)  9am wind direction  9am wind speed (km/h)  \
0                         NaN                  NW                     13
1                         NaN                   W                      9
2                         NaN                 SSW                      9
3                         NaN                 WSW                      6
4                         NaN                   N                      9
..                        ...                 ...                    ...
170                       NaN                 NNE                      7
171                       NaN                  NE                      6
172                       NaN                  SW                      6
173                       NaN                 SSE                      7
174                       NaN                  NE                      9

    9am MSL pressure (hPa) 3pm Temperature (°C)  3pm relative humidity (%)  \
0                    991.3                 13.2                       59.0
1                   1006.7                 15.1                       54.0
2                   1019.2                 13.8                       67.0
3                   1028.1                 16.9                       56.0
4                   1026.3                 18.8                       65.0
..                     ...                  ...                        ...
170                 1026.8                 17.5                       58.0
171                 1030.5                 18.6                       64.0
172                 1031.9                 18.8                       64.0
173                 1034.4                 17.8                       71.0
174                 1032.5                  NaN                        NaN

     3pm cloud amount (oktas)  3pm wind direction  3pm wind speed (km/h)  \
0                         NaN                 WNW                   11.0
1                         NaN                 SSW                   13.0
2                         NaN                 SSW                    9.0
3                         NaN                  SW                    9.0
4                         NaN                  SW                   11.0
..                        ...                 ...                    ...
170                       NaN                  SW                    4.0
171                       NaN                 SSE                    2.0
172                       NaN                 SSW                   11.0
173                       NaN                 SSW                   13.0
174                       NaN                 NaN                    NaN

    3pm MSL pressure (hPa)
0                    991.5
1                   1008.4
2                   1021.3
3                   1026.6
4                   1023.2
..                     ...
170                 1025.5
171                 1029.2
172                 1029.7
173                 1032.4
174                    NaN

[175 rows x 22 columns]

In [26]:
data_weather.shape

(175, 22)

In [27]:
print(data_weather.isnull().sum())

Location                               0
Date                                   0
Minimum temperature (°C)               0
Maximum temperature (°C)               1
Rainfall (mm)                          0
Evaporation (mm)                     175
Sunshine (hours)                     175
Direction of maximum wind gust         1
Speed of maximum wind gust (km/h)      1
Time of maximum wind gust              1
9am Temperature (°C)                   0
9am relative humidity (%)              0
9am cloud amount (oktas)             175
9am wind direction                     0
9am wind speed (km/h)                  0
9am MSL pressure (hPa)                 0
3pm Temperature (°C)                   1
3pm relative humidity (%)              1
3pm cloud amount (oktas)             175
3pm wind direction                     1
3pm wind speed (km/h)                  1
3pm MSL pressure (hPa)                 1
dtype: int64

In [28]:
#Drop empty columns
data_weather.drop(columns=['Evaporation (mm)', 'Sunshine (hours)', '9am cloud amount (oktas)', '3pm cloud amount (oktas)'], inplace=True)

In [29]:
display(data_weather.head())

,Location,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),9am relative humidity (%),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,"Melbourne (Olympic Park), Victoria",1/11/2022,8.5,13.3,3.0,SW,44.0,11:36,12.0,64,NW,13,991.3,13.2,59.0,WNW,11.0,991.5
1,"Melbourne (Olympic Park), Victoria",2/11/2022,6.9,15.7,2.8,SSW,43.0,11:33,11.0,65,W,9,1006.7,15.1,54.0,SSW,13.0,1008.4
2,"Melbourne (Olympic Park), Victoria",3/11/2022,9.1,15.4,0.4,SSW,31.0,8:07,11.5,70,SSW,9,1019.2,13.8,67.0,SSW,9.0,1021.3
3,"Melbourne (Olympic Park), Victoria",4/11/2022,10.2,17.8,0.2,S,24.0,14:50,12.3,84,WSW,6,1028.1,16.9,56.0,SW,9.0,1026.6
4,"Melbourne (Olympic Park), Victoria",5/11/2022,11.8,22.7,0.0,N,31.0,11:58,14.0,78,N,9,1026.3,18.8,65.0,SW,11.0,1023.2

In [30]:
# Unique values in each columns to examine value range and current data types in the columns
for column in data_weather.columns:
    unique_values = data_weather[column].unique()
    print(f"'{column}': {unique_values}")

'Location': ['Melbourne (Olympic Park), Victoria']
'Date': ['1/11/2022' '2/11/2022' '3/11/2022' '4/11/2022' '5/11/2022' '6/11/2022'
 '7/11/2022' '8/11/2022' '9/11/2022' '10/11/2022' '11/11/2022'
 '12/11/2022' '13/11/2022' '14/11/2022' '15/11/2022' '16/11/2022'
 '17/11/2022' '18/11/2022' '19/11/2022' '20/11/2022' '21/11/2022'
 '22/11/2022' '23/11/2022' '24/11/2022' '25/11/2022' '26/11/2022'
 '27/11/2022' '28/11/2022' '29/11/2022' '30/11/2022' '1/12/2022'
 '2/12/2022' '3/12/2022' '4/12/2022' '5/12/2022' '6/12/2022' '7/12/2022'
 '8/12/2022' '9/12/2022' '10/12/2022' '11/12/2022' '12/12/2022'
 '13/12/2022' '14/12/2022' '15/12/2022' '16/12/2022' '17/12/2022'
 '18/12/2022' '19/12/2022' '20/12/2022' '21/12/2022' '22/12/2022'
 '23/12/2022' '24/12/2022' '25/12/2022' '26/12/2022' '27/12/2022'
 '28/12/2022' '29/12/2022' '30/12/2022' '31/12/2022' '1/01/2023'
 '2/01/2023' '3/01/2023' '4/01/2023' '5/01/2023' '6/01/2023' '7/01/2023'
 '8/01/2023' '9/01/2023' '10/01/2023' '11/01/2023' '12/01/2023'
 '13/01/2023' '14/01/2023' '15/01/2023' '16/01/2023' '17/01/2023'
 '18/01/2023' '19/01/2023' '20/01/2023' '21/01/2023' '22/01/2023'
 '23/01/2023' '24/01/2023' '25/01/2023' '26/01/2023' '27/01/2023'
 '28/01/2023' '29/01/2023' '30/01/2023' '31/01/2023' '1/02/2023'
 '2/02/2023' '3/02/2023' '4/02/2023' '5/02/2023' '6/02/2023' '7/02/2023'
 '8/02/2023' '9/02/2023' '10/02/2023' '11/02/2023' '12/02/2023'
 '13/02/2023' '14/02/2023' '15/02/2023' '16/02/2023' '17/02/2023'
 '18/02/2023' '19/02/2023' '20/02/2023' '21/02/2023' '22/02/2023'
 '23/02/2023' '24/02/2023' '25/02/2023' '26/02/2023' '27/02/2023'
 '28/02/2023' '1/03/2023' '2/03/2023' '3/03/2023' '4/03/2023' '5/03/2023'
 '6/03/2023' '7/03/2023' '8/03/2023' '9/03/2023' '10/03/2023' '11/03/2023'
 '12/03/2023' '13/03/2023' '14/03/2023' '15/03/2023' '16/03/2023'
 '17/03/2023' '18/03/2023' '19/03/2023' '20/03/2023' '21/03/2023'
 '22/03/2023' '23/03/2023' '24/03/2023' '25/03/2023' '26/03/2023'
 '27/03/2023' '28/03/2023' '29/03/2023' '30/03/2023' '31/03/2023'
 '1/04/2023' '2/04/2023' '3/04/2023' '4/04/2023' '5/04/2023' '6/04/2023'
 '7/04/2023' '8/04/2023' '9/04/2023' '10/04/2023' '11/04/2023'
 '12/04/2023' '13/04/2023' '14/04/2023' '15/04/2023' '16/04/2023'
 '17/04/2023' '18/04/2023' '19/04/2023' '20/04/2023' '21/04/2023'
 '22/04/2023' '23/04/2023' '24/04/2023']
'Minimum temperature (°C)': [ 8.5  6.9  9.1 10.2 11.8 11.6 13.9 14.6 15.6 19.8 18.7 14.2 15.4 13.
  8.   7.2  9.6 12.5  9.4  8.7 12.4 10.9 14.7  9.7 12.2 12.1 13.6 17.3
 16.2 13.4 13.1  9.9  8.1 14.  11.5  9.  11.1 10.8 11.7  9.8 12.9 16.8
 15.7 16.7 17.  17.7 25.  12.6 17.9 18.4 22.1 15.2 15.  14.1 13.3 13.2
 14.9 16.9 15.9 18.  20.2 15.1 16.3 15.5 13.8 17.2 18.2 17.6 13.5 19.5
 11.4 16.  16.6 15.8 12.  17.1 22.8 17.4 17.5 19.6 22.2 16.5 14.3 14.5
 12.3 15.3 16.1 10.7 11.3  8.8 13.7 10.5 10.1 11.9 11.2 14.4  7.8 14.8
 11. ]
'Maximum temperature (°C)': [13.3 15.7 15.4 17.8 22.7 27.1 25.9 27.6 29.3 26.4 20.2 19.3 24.8 17.4
 13.1 14.8 16.3 24.5 22.3 20.6 13.8 18.2 17.7 19.2 27.3 20.5 18.8 18.4
 21.4 31.  34.5 18.1 20.  16.  17.6 28.6 17.3 17.9 15.8 16.6 20.3 23.7
 26.  29.4 25.2 23.1 23.5 31.9 27.5 37.3 26.2 30.3 35.9 32.  21.1 18.7
 21.6 25.6 30.2 29.9 24.  24.2 37.6 27.  37.2 19.9 21.  23.  23.4 28.
 30.  26.8 34.2 23.8 21.7 22.2 21.3 20.7 19.8 20.9 20.4 26.7 25.7 32.4
 40.5 24.9 27.9 30.6 32.3 31.4 32.9 25.3 23.2 19.4 22.1 24.7 22.4 30.5
 22.9 28.5 24.6 36.2 19.  20.8 22.8 22.6 19.6 18.3 18.5 19.1 16.4 26.3
 18.  15.5 15.2 25.4 21.2 17.2 17.5  nan]
'Rainfall (mm)': [ 3.   2.8  0.4  0.2  0.   6.6 13.6 14.2  0.6  3.2 16.   1.2  2.   2.4
 17.4  6.2  3.4  5.2  1.6  0.8  6.4  1.   6.   4.6  1.8 11.2  1.4  2.6
  5.6 10.2  8.   5.8  8.2  4.4  7.8 14.8  7.  38.4]
'Direction of maximum wind gust ': ['SW' 'SSW' 'S' 'N' 'NNW' 'W' 'NNE' 'WNW' 'SSE' 'NW' 'SE' 'ESE' 'WSW' 'E'
 nan]
'Speed of maximum wind gust (km/h)': [44. 43. 31. 24. 33. 35. 54. 30. 26. 41. 28. 59. 50. 57. 37. 22. 52. 48.
 39. 46. 56. 17. 20. 19. 13. nan]
'Time of maximum wind gust': ['11:36' '11:33' '8:07' '14:50' '11:58' '18:43' '13:42' '11:24' '12:24'
 '9:58' '12:38' '12:58' '9:34' '12:56' '11:45' '14:47' '0:35' '15:26'
 '17:16' '15:42' '11:27' '16:58' '13:18' '20:13' '11:42' '13:12' '16:10'
 '19:49' '9:26' '16:47' '15:17' '15:00' '8:54' '13:22' '15:08' '16:43'
 '18:31' '11:40' '16:53' '11:06' '13:54' '16:01' '15:25' '9:43' '16:23'
 '17:51' '17:35' '16:59' '11:51' '21:16' '17:32' '5:03' '12:26' '14:55'
 '16:09' '12:47' '8:16' '18:34' '15:31' '12:00' '9:05' '17:27' '17:49'
 '17:41' '15:49' '14:03' '18:11' '17:09' '13:40' '7:23' '16:28' '18:41'
 '23:50' '17:20' '16:19' '14:17' '14:42' '16:49' '8:57' '3:24' '15:47'
 '16:00' '10:42' '13:11' '12:35' '9:53' '17:42' '13:17' '12:49' '16:02'
 '13:27' '15:02' '14:26' '9:13' '10:36' '13:58' '17:45' '15:18' '15:40'
 '17:13' '8:11' '12:16' '5:48' '14:39' '12:31' '18:46' '14:14' '13:07'
 '13:21' '10:18' '9:54' '23:33' '19:41' '14:44' '15:34' '9:23' '14:28'
 '20:28' '23:34' '10:56' '18:58' '14:29' '23:20' '15:01' '7:36' '10:11'
 '15:36' '16:15' '14:56' '16:48' '0:23' '14:53' '9:22' '14:58' '15:07'
 '14:31' '12:40' '0:01' '14:27' '10:47' '13:33' '13:57' '14:57' '9:50'
 '12:53' '11:00' '14:45' '11:32' '10:48' '15:45' nan]
'9am Temperature (°C)': [12.  11.  11.5 12.3 14.  17.9 19.7 21.8 20.8 23.8 18.7 15.7 19.1 15.3
 10.1 13.1 12.5 19.3 14.3 11.2 12.7 14.7 16.8 16.  15.5 17.  15.  21.3
 27.2 16.6 16.4 10.8 14.6 14.2 20.7 12.6 13.7 14.8 16.5 18.2 17.4 18.9
 19.5 22.6 25.1 27.6 15.8 20.6 24.6 28.6 15.6 18.4 18.5 20.3 24.3 20.4
 23.3 26.3 19.9 16.3 17.5 17.2 20.  20.1 17.1 25.5 18.3 18.1 13.4 17.6
 19.  20.2 18.6 23.1 29.9 21.6 25.  14.9 16.1 23.2 16.7 14.5 13.5 17.3
 15.2 13.3 11.7 14.1 12.4]
'9am relative humidity (%)': [ 64  65  70  84  78  63  57  67  50  80  69  88  72  71  52  51  68  73
  75  66  61  58  74  43  77  44  53  56  54  91  97  62  42  47  46  87
  76  94  59  32  86  79  85  55  33  83  45  48  37  81 100  95  89  93]
'9am wind direction': ['NW' 'W' 'SSW' 'WSW' 'N' 'NNE' 'NE' 'SSE' 'WNW' 'SW' 'ESE' 'SE' 'S' 'NNW'
 'ENE' 'E' ' ']
'9am wind speed (km/h)': ['13' '9' '6' '4' '15' '17' '11' '7' '24' '19' '22' '20' '2' 'Calm']
'9am MSL pressure (hPa)': [ 991.3 1006.7 1019.2 1028.1 1026.3 1023.2 1021.1 1018.2 1018.8 1013.8
 1011.  1014.3 1001.8  997.1 1013.1 1015.1 1019.3 1016.6 1003.1  998.2
 1012.9 1015.6 1021.  1021.7 1011.9 1004.5 1009.1 1019.8 1018.3 1015.7
 1011.7 1009.6 1012.1 1018.1 1017.1 1005.4 1001.  1008.7 1013.2 1017.
 1019.4 1023.  1024.9 1025.5 1022.  1015.3 1011.6 1008.2 1019.  1015.9
 1010.8 1005.9 1010.2 1010.7 1014.9 1017.7 1012.7 1016.4 1011.4 1014.
 1012.8 1019.5 1010.9 1016.8 1017.8 1016.3 1016.1 1011.8 1007.8 1014.7
 1009.8  998.1  993.2 1004.  1017.4 1020.5 1020.  1017.3 1007.3 1000.5
 1010.  1013.9 1013.3 1020.3 1027.5 1024.8 1017.6 1012.4 1012.5 1015.4
 1014.8 1018.9 1003.9 1004.9 1012.  1014.4 1016.5 1019.7 1027.8 1025.7
 1019.6 1017.5 1009.3 1020.4 1012.3  999.3 1006.1 1014.5 1016.  1004.8
 1015.5 1001.1 1004.3 1022.7 1023.6 1026.8 1030.5 1031.9 1034.4 1032.5]
'3pm Temperature (°C)': [13.2 15.1 13.8 16.9 18.8 26.2 20.2 25.8 28.3 25.1 18.2 17.6 24.3 15.
 10.8 13.9 15.5 22.  18.3 19.4 11.8 18.  16.1 17.  19.2 27.  19.5 18.1
 17.7 17.9 20.4 28.8 32.5 16.3 18.4 16.4 24.8 25.7 16.  12.2 12.4 15.7
 21.4 22.6 22.4 26.3 28.2 21.5 21.6 30.3 23.6 36.5 25.  27.4 35.3 21.1
 20.5 20.8 25.4 30.  21.2 20.7 27.9 22.9 23.3 35.4 20.3 25.2 35.6 16.7
 17.5 22.1 28.4 27.6 24.2 33.6 19.6 19.  19.8 22.3 19.9 31.4 39.6 22.7
 25.5 23.4 27.3 30.4 30.6 24.4 22.2 18.9 18.6 30.2 29.2 24.  21.3 22.5
 32.  21.8 19.1 14.6 17.8 14.1 14.9 24.5 18.5 15.8  nan]
'3pm relative humidity (%)': [59. 54. 67. 56. 65. 33. 66. 43. 37. 44. 81. 87. 72. 51. 63. 47. 36. 64.
 58. 77. 46. 52. 62. 42. 28. 70. 48. 32. 35. 86. 57. 41. 39. 27. 82. 76.
 53. 31. 26. 71. 55. 34. 80. 75. 49. 73. 50. 85. 45. 18. 60. 61. 24. 16.
 40. 30. 97. 69. 68. nan]
'3pm wind direction': ['WNW' 'SSW' 'SW' 'NW' 'WSW' 'NNW' 'N' 'S' 'SE' 'W' 'SSE' 'NNE' 'NE' 'E'
 nan]
'3pm wind speed (km/h)': [11. 13.  9.  4.  6. 20. 15. 19. 17.  7. 22. 28. 24.  2. nan]
'3pm MSL pressure (hPa)': [ 991.5 1008.4 1021.3 1026.6 1023.2 1019.9 1019.1 1015.9 1015.4 1011.7
 1010.4 1010.9  998.6 1003.6 1013.1 1018.7  997.6  997.1 1005.1 1012.3
 1016.9 1020.4 1020.  1004.6 1003.7 1008.  1017.7 1013.  1007.8 1008.9
 1004.4 1015.2 1017.3 1012.  1002.  1002.1 1015.5 1016.5 1019.  1021.4
 1021.6 1022.3 1017.6 1011.6 1008.5 1009.7 1010.8 1016.6 1013.4 1017.5
 1012.5 1007.4 1006.6 1011.2 1014.3 1015.  1011.4 1010.7 1013.3 1013.8
 1008.6 1013.9 1019.7 1017.1 1009.8 1012.6 1016.7 1016.  1014.2 1015.1
 1012.7 1009.2 1016.2 1012.9 1006.7 1012.2 1007.5  990.3  993.7 1008.3
 1020.2 1018.2 1014.8 1004.2 1001.9 1011.1 1010.3 1005.9 1020.7 1027.8
 1021.2 1014.1 1012.1 1013.2 1000.8 1003.  1003.9 1011.9 1014.5 1012.8
 1014.7 1020.1 1026.5 1022.7 1015.6 1014.4 1010.5 1009.9 1010.1 1019.4
 1016.3 1016.4  997.3 1005.7 1004.3 1010.   999.5 1009.5 1021.9 1022.1
 1025.5 1029.2 1029.7 1032.4    nan]

In [31]:
print(data_weather.dtypes)

Location                              object
Date                                  object
Minimum temperature (°C)             float64
Maximum temperature (°C)             float64
Rainfall (mm)                        float64
Direction of maximum wind gust        object
Speed of maximum wind gust (km/h)    float64
Time of maximum wind gust             object
9am Temperature (°C)                 float64
9am relative humidity (%)              int64
9am wind direction                    object
9am wind speed (km/h)                 object
9am MSL pressure (hPa)               float64
3pm Temperature (°C)                 float64
3pm relative humidity (%)            float64
3pm wind direction                    object
3pm wind speed (km/h)                float64
3pm MSL pressure (hPa)               float64
dtype: object

In [32]:
# DELETE Location                             
# Date need to be converted into date_time
# DELETE Direction of maximum wind gust       
# DELETE Time of maximum wind gust            
# DELETE 9am wind direction
# 9am wind speed (km/h) needs to be changed into int, also need to change the 'Calm' note into value
# DELETE 3pm wind direction

In [33]:
data_weather.drop(columns=['Location', 'Direction of maximum wind gust ', 'Time of maximum wind gust', '9am wind direction', '3pm wind direction'], inplace=True)

In [34]:
data_weather.head()

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Speed of maximum wind gust (km/h),9am Temperature (°C),9am relative humidity (%),9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm wind speed (km/h),3pm MSL pressure (hPa)
0,1/11/2022,8.5,13.3,3.0,44.0,12.0,64,13,991.3,13.2,59.0,11.0,991.5
1,2/11/2022,6.9,15.7,2.8,43.0,11.0,65,9,1006.7,15.1,54.0,13.0,1008.4
2,3/11/2022,9.1,15.4,0.4,31.0,11.5,70,9,1019.2,13.8,67.0,9.0,1021.3
3,4/11/2022,10.2,17.8,0.2,24.0,12.3,84,6,1028.1,16.9,56.0,9.0,1026.6
4,5/11/2022,11.8,22.7,0.0,31.0,14.0,78,9,1026.3,18.8,65.0,11.0,1023.2

In [35]:
# Convert date into date_time
data_weather['Date'] = pd.to_datetime(data_weather['Date'], format='%d/%m/%Y')

In [36]:
data_weather.head()

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Speed of maximum wind gust (km/h),9am Temperature (°C),9am relative humidity (%),9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm wind speed (km/h),3pm MSL pressure (hPa)
0,2022-11-01,8.5,13.3,3.0,44.0,12.0,64,13,991.3,13.2,59.0,11.0,991.5
1,2022-11-02,6.9,15.7,2.8,43.0,11.0,65,9,1006.7,15.1,54.0,13.0,1008.4
2,2022-11-03,9.1,15.4,0.4,31.0,11.5,70,9,1019.2,13.8,67.0,9.0,1021.3
3,2022-11-04,10.2,17.8,0.2,24.0,12.3,84,6,1028.1,16.9,56.0,9.0,1026.6
4,2022-11-05,11.8,22.7,0.0,31.0,14.0,78,9,1026.3,18.8,65.0,11.0,1023.2

In [37]:
print(data_weather.dtypes)

Date                                 datetime64[ns]
Minimum temperature (°C)                    float64
Maximum temperature (°C)                    float64
Rainfall (mm)                               float64
Speed of maximum wind gust (km/h)           float64
9am Temperature (°C)                        float64
9am relative humidity (%)                     int64
9am wind speed (km/h)                        object
9am MSL pressure (hPa)                      float64
3pm Temperature (°C)                        float64
3pm relative humidity (%)                   float64
3pm wind speed (km/h)                       float64
3pm MSL pressure (hPa)                      float64
dtype: object

In [38]:
#Clean 9am wind speed (km/h). Count value in the column:
value_counts = data_weather['9am wind speed (km/h)'].value_counts()
print(value_counts)

9       40
7       35
13      21
11      17
6       17
15      10
Calm     9
4        8
17       5
2        4
19       3
20       3
22       2
24       1
Name: 9am wind speed (km/h), dtype: int64

In [39]:
#As calm == 0 windspeed, replace Calm with 0:
data_weather['9am wind speed (km/h)'] = data_weather['9am wind speed (km/h)'].replace('Calm', 0)

In [40]:
#Examine the column again
value_counts = data_weather['9am wind speed (km/h)'].value_counts()
print(value_counts)

9     40
7     35
13    21
11    17
6     17
15    10
0      9
4      8
17     5
2      4
19     3
20     3
22     2
24     1
Name: 9am wind speed (km/h), dtype: int64

In [41]:
# Change the column into int:
data_weather['9am wind speed (km/h)'] = data_weather['9am wind speed (km/h)'].astype(int)

In [42]:
#Check if we change it successfully
print(data_weather.dtypes)

Date                                 datetime64[ns]
Minimum temperature (°C)                    float64
Maximum temperature (°C)                    float64
Rainfall (mm)                               float64
Speed of maximum wind gust (km/h)           float64
9am Temperature (°C)                        float64
9am relative humidity (%)                     int64
9am wind speed (km/h)                         int64
9am MSL pressure (hPa)                      float64
3pm Temperature (°C)                        float64
3pm relative humidity (%)                   float64
3pm wind speed (km/h)                       float64
3pm MSL pressure (hPa)                      float64
dtype: object

In [43]:
#Examine data frame again
print(data_weather.isnull().sum())

Date                                 0
Minimum temperature (°C)             0
Maximum temperature (°C)             1
Rainfall (mm)                        0
Speed of maximum wind gust (km/h)    1
9am Temperature (°C)                 0
9am relative humidity (%)            0
9am wind speed (km/h)                0
9am MSL pressure (hPa)               0
3pm Temperature (°C)                 1
3pm relative humidity (%)            1
3pm wind speed (km/h)                1
3pm MSL pressure (hPa)               1
dtype: int64

In [44]:
# Where is the missing data?
null_values = data_weather.isnull()
rows_with_null = data_weather[null_values.any(axis=1)]
print(rows_with_null)

          Date  Minimum temperature (°C)  Maximum temperature (°C)  \
174 2023-04-24                      11.0                       NaN

     Rainfall (mm)  Speed of maximum wind gust (km/h)  9am Temperature (°C)  \
174            0.0                                NaN                  14.3

     9am relative humidity (%)  9am wind speed (km/h)  9am MSL pressure (hPa)  \
174                         87                      9                  1032.5

     3pm Temperature (°C)  3pm relative humidity (%)  3pm wind speed (km/h)  \
174                   NaN                        NaN                    NaN

     3pm MSL pressure (hPa)
174                     NaN

In [45]:
#Replace the missing value of line 174 with column's mean value
for column in data_weather.columns:
    column_mean = data_weather[column].mean()
    data_weather[column].fillna(column_mean, inplace=True)

In [46]:
# Re-examine the date frame 
print(data_weather.isnull().sum())

Date                                 0
Minimum temperature (°C)             0
Maximum temperature (°C)             0
Rainfall (mm)                        0
Speed of maximum wind gust (km/h)    0
9am Temperature (°C)                 0
9am relative humidity (%)            0
9am wind speed (km/h)                0
9am MSL pressure (hPa)               0
3pm Temperature (°C)                 0
3pm relative humidity (%)            0
3pm wind speed (km/h)                0
3pm MSL pressure (hPa)               0
dtype: int64

In [47]:
# Examine the line with missing value again
print(data_weather.iloc[174])

Date                                 2023-04-24 00:00:00
Minimum temperature (°C)                              11
Maximum temperature (°C)                         23.1218
Rainfall (mm)                                          0
Speed of maximum wind gust (km/h)                34.5632
9am Temperature (°C)                                14.3
9am relative humidity (%)                             87
9am wind speed (km/h)                                  9
9am MSL pressure (hPa)                            1032.5
3pm Temperature (°C)                             21.5466
3pm relative humidity (%)                        54.2989
3pm wind speed (km/h)                             13.046
3pm MSL pressure (hPa)                           1012.82
Name: 174, dtype: object

In [48]:
#Export into a new csv file:
data_weather.to_csv("data_weather.csv", index=False)

In [49]:
#Merge 2 dataset on Date column:
weather_demand_df = pd.merge(data_weather, daily_demand_df, how='left', on='Date')

In [50]:
weather_demand_df.head()

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Speed of maximum wind gust (km/h),9am Temperature (°C),9am relative humidity (%),9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm wind speed (km/h),3pm MSL pressure (hPa),Demand
0,2022-11-01,8.5,13.3,3.0,44.0,12.0,64,13,991.3,13.2,59.0,11.0,991.5,207429.46
1,2022-11-02,6.9,15.7,2.8,43.0,11.0,65,9,1006.7,15.1,54.0,13.0,1008.4,233630.93
2,2022-11-03,9.1,15.4,0.4,31.0,11.5,70,9,1019.2,13.8,67.0,9.0,1021.3,235672.34
3,2022-11-04,10.2,17.8,0.2,24.0,12.3,84,6,1028.1,16.9,56.0,9.0,1026.6,224895.28
4,2022-11-05,11.8,22.7,0.0,31.0,14.0,78,9,1026.3,18.8,65.0,11.0,1023.2,189190.35

In [51]:
print(weather_demand_df.dtypes)

Date                                 datetime64[ns]
Minimum temperature (°C)                    float64
Maximum temperature (°C)                    float64
Rainfall (mm)                               float64
Speed of maximum wind gust (km/h)           float64
9am Temperature (°C)                        float64
9am relative humidity (%)                     int64
9am wind speed (km/h)                         int64
9am MSL pressure (hPa)                      float64
3pm Temperature (°C)                        float64
3pm relative humidity (%)                   float64
3pm wind speed (km/h)                       float64
3pm MSL pressure (hPa)                      float64
Demand                                      float64
dtype: object

In [52]:
weather_demand_df.to_csv('weather_demand_df.csv', index=False)